@use "@styles/mixins.scss" as *;

header {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;

  .header-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background);
    padding: 1.5em;
    margin: 0 auto;

    .col-right {
      @include flex-align-center;
      white-space: nowrap;

      .pc-only {
        @include flex-align-center;
        gap: 2em;

        .logo {
          img {
            @include size(65px);
          }
        }
      }

      .menu-cta {
        svg {
          @include size(34px);
        }
      }
    }

    .col-left {
      @include flex-align-center;
      gap: 1.5em;

      .login {
        background-color: var(--clr-primary);
        padding: 0.8em 1.5em;
        border-radius: 3em;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all var(--header-transition);

        &:hover {
          background: transparent;
          border: 1px solid var(--clr-primary);
        }
      }
    }

    @media (min-width: 1700px) {
      width: 1700px;
    }
  }

  @include on-pc {
    position: fixed;
    z-index: var(--header-zIndex);
    top: 0;

    .header-container {
      padding: 0.9em 3.5em;
    }
  }
}
