@use "@styles/mixins.scss" as *;

.news-articles {
  margin-top: var(--sections-margin-top);

  .title {
    display: flex;
    align-items: baseline;
    gap: 1.5em;

    h2 {
      font-size: 24px;
      margin-bottom: 2em;
    }

    span {
      flex: 1;
      height: 1px;
      background-color: var(--clr-gray);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;

    li {
      width: calc(100% - 1.5em);
      height: 300px;
      position: relative;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 1em;

      img {
        @include size(100%);
        border-radius: 1em;
        object-fit: cover;
      }

      p {
        position: absolute;
        bottom: 0px;
        padding: 1em;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 0 0 1em 1em;
        left: 0;
        right: 0;
      }

      @media (min-width: 712px) {
        width: calc(50% - 1.5em);
        height: 300px;
      }

      @include on-pc {
        height: 250px;
        width: calc(25% - 1.5em);
      }
    }
  }
}
