@use "@styles/mixins.scss" as *;

.products-categorization {
  margin-top: var(--sections-margin-top);

  ul {
    @include flex-center;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 2.5em;

    li {
      @include flex-center;
      width: 33.333%;

      a {
        .image {
          padding: 1.5em;
          background-color: var(--clr-gray);
          border-radius: 50%;
          margin-bottom: 1em;

          img {
            @include size(60px);
          }
        }
      }
    }

    @media (min-width: 855px) {
      li {
        width: 20%;
      }
    }

    @media (min-width: 1050px) {
      padding: 0 2em;

      li {
        a {
          .image {
            padding: 2.1em;

            img {
              @include size(65px);
            }
          }
        }
      }
    }
  }
}
