@use "@styles/mixins.scss" as *;

.create-product {
  @include grid-gap(2em);
  padding: 3em 0;

  .equalize-items {
    .choose-color {
      flex: 2;
    }
  }

  .mt-3 {
    margin-top: 3.5em;
  }

  .mt-4 {
    margin-top: 4em;
  }

  @include on-pc {
    gap: 3.5em;
    padding: 4em 0;
  }
}
