@use "@styles/mixins.scss" as *;

.field-array {
  display: grid;

  h2 {
    margin-bottom: 2em;
    font-weight: bold;
  }

  > .add-btn {
    margin-top: 1em;
    width: fit-content;
    justify-self: center;

    svg {
      @include size(70px);
      border-radius: 50%;
      transition: all 200ms;
    }

    &:hover {
      svg {
        background-color: #eee;
      }
    }
  }

  .input-wrapper {
    width: 100%;
    padding-block: 2em;
    margin: 1em 0;

    .grid-wrapper {
      display: grid;
      gap: 1em;
      width: 100%;

      input {
        background: #efefef;
        padding: 1em;
        border-radius: 10px;
        border: none;
      }
    }

    @include on-pc {
      padding-block: 0.3em;

      .grid-wrapper {
        grid-template-columns: 3fr 3fr 1fr;
      }
    }
  }
}
