@use "@styles/mixins.scss" as *;

.input-wrapper {
  background-color: var(--clr-gray);
  @include flex-align-center;
  flex-direction: row-reverse;
  border-radius: 3em;
  padding: 0 2em;
  gap: 1.5em;
}
