@use "@styles/mixins.scss" as *;

.products-categorization {
  margin-top: var(--sections-margin-top);

  ul {
    @include flex-center;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 2.5em;
    gap: 1em;

    li {
      @include flex-center;
      width: 33.333%;

      a {
        background-color: var(--clr-gray-300);
        @include grid-gap(0.5em);
        justify-items: center;
        border-radius: 1em;
        padding: 1.5em 3em;

        img {
          @include size(60px);
          object-fit: scale-down;
        }
      }
    }

    @media (min-width: 855px) {
      li {
        width: 15%;
      }
    }

    @media (min-width: 1050px) {
      padding: 0 2em;

      li {
        a {
          .image {
            padding: 2.1em;

            img {
              @include size(65px);
            }
          }
        }
      }
    }
  }
}
