.create-product {
  .group {
    display: flex;
    gap: 2em;

    > * {
      flex: 1;
    }
  }

  .input-label {
    display: grid;
    margin-top: 3.5em;
    text-indent: 10px;
    gap: 1.5em;

    input {
      border-radius: 3em;
      border: none;
      padding: 1.3em;
      background-color: var(--clr-gray);
    }
  }
}
