@use "@styles/mixins.scss" as *;

.custom-checkbox {
  input {
    display: none;
  }

  input:checked ~ .checkmark {
    background-color: var(--clr-primary);
  }

  .checkmark {
    @include size(25px, 15px);
    display: inline-block;
    border-radius: 5px;
    background-color: var(--clr-gray-350);
  }
}
