@use "@styles/mixins.scss" as *;

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: var(--sections-margin-top);
  gap: 2em;

  .not-found {
    font-size: 1.5rem;
    text-align: center;
    margin: 2em 0;

    @include on-pc {
      font-size: 2rem;
    }
  }

  li {
    a {
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      border-radius: 1em;

      img {
        object-fit: scale-down;
      }

      p {
        margin-top: 2em;
      }
    }
  }
}
