@use "@styles/mixins.scss" as *;

footer {
  background-color: var(--clr-secondary);
  margin-top: calc(var(--sections-margin-top) * 1.6);
  padding-top: 3em;
  color: white;

  .section-one,
  .section-tow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2.3em;
  }

  .section-one {
    h3 {
      margin-bottom: 1em;
    }

    .move-up {
      background-color: var(--clr-primary);
      border-radius: 3em;
      padding: 1em 1.3em;
      font-size: 14px;
    }
  }

  .section-tow {
    .wrapper {
      display: flex;

      h3 {
        color: var(--clr-primary);
        margin-bottom: 0.7em;
      }

      a {
        color: white;
        padding: 0.7em 0;
        display: inline-block;
      }
    }
  }

  .copywriting {
    text-align: center;
    padding: 2em;
    border-top: 2px solid white;
    font-size: 13px;
  }

  @include on-pc {
    .section-one,
    .section-tow {
      margin-bottom: 3em;
    }

    .section-one {
      h3 {
        font-size: 16px;
      }

      .move-up {
        padding: 1em 1.7em;
      }
    }

    .section-tow {
      .wrapper {
        gap: 7em;

        h3 {
          font-size: 17px;
        }
      }
    }
  }
}
