@use "@styles/mixins.scss" as *;

.product-desc {
  margin-top: 2.5em;

  h2 {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.4em;

    &::after {
      content: "";
      display: block;
      @include size(135%, 2px);
      margin-top: 0.3em;
      background-color: var(--clr-primary);
    }
  }

  p {
    text-align: justify;
  }
}
