@use "@styles/mixins.scss" as *;

.search-results {
  position: absolute;
  background-color: white;
  border-radius: 1em;
  padding: 2em;

  ul {
    list-style: none;

    a {
      @include flex-align-center;

      img {
        @include size(90px);
        object-fit: scale-down;
        padding: 1em 1.3em;
        padding-right: 0;
      }
    }
  }

  .more {
    @include flex-align-center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    bottom: 16px;
    gap: 0.3em;

    svg {
      @include size(9px);
    }
  }
}
