@use "@styles/mixins.scss" as *;

.create-form {
  @include icon-size(30px);

  .input-group {
    @include flex-gap(1em);
    padding: 4em 2.5em;
    background-color: white;
    border-radius: 1em;
    flex-direction: row-reverse;

    input,
    button {
      padding: 1em;
      border-radius: 10px;
    }

    input {
      width: 30ch;
    }

    button {
      background-color: var(--clr-primary);
    }
  }
}
