@mixin on-pc {
  @media (min-width: 1185px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin size($w, $h: "") {
  width: $w;
  height: $w;

  @if $h != "" {
    height: $h;
  }
}
