@use "@styles/mixins.scss" as *;

.ads-tow {
  margin-top: var(--sections-margin-top);

  a {
    display: flex;

    img {
      @include size(100%);
      max-height: 155px;
      border-radius: 1em;
      object-fit: cover;
    }

    @media (max-width: 780px) {
      height: 120px;
    }
  }
}
